[submodule "vendor/src/github.com/gorilla/websocket"]
	path = vendor/src/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
[submodule "vendor/src/github.com/BurntSushi/toml"]
	path = vendor/src/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "vendor/src/golang.org/x/crypto"]
	path = vendor/src/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "vendor/src/github.com/ianmcmahon/encoding_ssh"]
	path = vendor/src/github.com/ianmcmahon/encoding_ssh
	url = https://github.com/ianmcmahon/encoding_ssh.git
[submodule "vendor/src/github.com/gorilla/mux"]
	path = vendor/src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "vendor/src/github.com/codegangsta/negroni"]
	path = vendor/src/github.com/codegangsta/negroni
	url = https://github.com/codegangsta/negroni.git
[submodule "vendor/src/github.com/gorilla/context"]
	path = vendor/src/github.com/gorilla/context
	url = https://github.com/gorilla/context.git
[submodule "vendor/src/github.com/gorilla/sessions"]
	path = vendor/src/github.com/gorilla/sessions
	url = https://github.com/gorilla/sessions.git
[submodule "vendor/src/github.com/gorilla/securecookie"]
	path = vendor/src/github.com/gorilla/securecookie
	url = https://github.com/gorilla/securecookie.git
[submodule "vendor/src/github.com/srinathgs/mysqlstore"]
	path = vendor/src/github.com/srinathgs/mysqlstore
	url = https://github.com/srinathgs/mysqlstore.git
[submodule "vendor/src/github.com/go-sql-driver/mysql"]
	path = vendor/src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql.git
